.main {
  /* display: flex; */
}

.footer {
  align-items: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.footer a {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
  font-size: 1.1rem;
  padding: 0.75rem;
}

.card {
  transition: color 0.15s ease, border-color 0.15s ease;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
  }
}
